<h1>Criar Nova Aula</h1>
<form action="/aulas/criar" method="POST">
    <label>Tema: <input type="text" name="tema" required></label><br>
    <label>Descrição: <input type="text" name="descricao" required></label><br>
    <label>Data: <input type="date" name="data_aula" required></label><br>
    <button type="submit">Salvar</button>
</form>